[Unit]
Description=Sway Notification Center
PartOf=graphical-session.target
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaync
Restart=always

[Install]
WantedBy=niri.service
