[Unit]
Description=Kanshi Display Manager
Partof=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=hyprland-session.target
