[Unit]
Description=aShell
# Ensures it starts after the GUI session is ready
PartOf=graphical-session.target
After=graphical-session.target pipewire.service pipewire-pulse.service
Requires=graphical-session.target

[Service]
ExecStart=%h/.local/bin/ashell
Type=simple
Restart=always

[Install]
WantedBy=niri.service

