[Unit]
Description=Hyprland graphical session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target pipewire.service pipewire-pulse.service wireplumber.service
After=graphical-session-pre.target pipewire.service pipewire-pulse.service wireplumber.service
