[Unit]
Description=Hyprland wallpaper
Partof=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=always

[Install]
WantedBy=hyprland-session.target
